<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fishermen</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>

<!-- Welcome Section -->
<main class="welcome-message">
    <div class="hero-container">
        <div class="navbar-left"><a href="/" class="title-header">Fishermen</a></div>
        <h1 class="hero-title">Welcome on board</h1>
        <p class="hero-subtitle">Prepare yourselves for <span class="key-header">the toughest</span> catch!</p>
        <p class="hero-subtitle">Join us and <span class="key-header">become one</span> of our fishermen.</p>
        <p class="hero-subtitle">Start your fishing <span class="key-header">adventure</span> today.</p>

        <div class="hero-buttons">
            <a href="/register" class="hero-btn">Register</a>
            <a href="/login" class="hero-btn">Login</a>
        </div>
    </div>
</main>

<!-- Footer -->
<footer class="footer">
    <div>&copy; SoftUni Exam - Spring Fundamentals. All rights reserved.</div>
</footer>

</body>
</html>
